.sticky1 {
    position: sticky !important;
    top: 0% !important;
}


/* #navbarCustom {
    transition: 0.4s ease-in-out all !important;
    position: fixed;
} */

.textColor {
    color: var(--dark);
}

.navbarBgDark {
    background: var(--dark);
}

.navbar-nav .nav-item .active {
    color: var(--shade2) !important;
}

.nav-link:hover {
    color: var(--shade2);
}

.nav-link {
    color: var(--light);
}

.nav-link:visited,
.nav-link:focus {
    color: var(--light) !important;
}

.getBtn {
    color: var(--light);
}

.sideLine {
    border-right: 1px solid var(--dark);
}

.iconHeight {
    height: 24px;
    width: 24px;
}

@media screen and (min-width: 992px) {
    .sideLine {
        border-right: none;
    }
    .iconHeight {
        height: 46px;
        width: 46px;
    }
}

.bg-nav {
    background: var(--light) !important;
}

.lang {
    background-color: var(--dark);
    outline: none !important;
    border: none !important;
    /* border-radius: 5px; */
    color: var(--light) !important;
    padding: 0;
    margin: 5px 0;
}

.hover-btn {
    border: none;
    transition: 0.1s linear all;
    color: var(--light) !important;
}

.hover-btn:hover {
    background-color: var(--light) !important;
    color: var(--dark)!important;
}

.logo_img {
    height: 4rem;
}

@media screen and (max-width:799px) {
    .logo_img {
        height: auto;
        width: 100% !important;
        margin-top: 2%;
    }
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 200, 'opsz' 48;
    margin-right: 10px;
    transform: scale(1.5);
}

.noti {
    opacity: 0.5;
    transform: scale(0.9);
    margin: 0;
    padding: 0;
    color: var(--light) !important;
}

.getBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--dark) !important;
}

.getBtn:hover {
    color: var(--shade2) !important;
}


/* For scrolling */

.navbar_links {
    position: fixed;
    top: 0%;
    z-index: 998 !important;
    left: 0%;
    width: 100% !important;
    /* border-radius: 10px; */
    transition: 0.1s ease-in-out all !important;
    animation: navbar_links_animation 0.5s linear 1 both !important;
    backdrop-filter: blur(8px) saturate(0%);
    -webkit-backdrop-filter: blur(8px) saturate(0%);
    background-color: rgb(0, 0, 0);
    /* border: 1px solid rgba(255, 255, 255, 0.125); */
}

@keyframes navbar_links_animation {
    from {
        transform: translateY(-105%);
    }
    to {
        transform: translateY(0%);
    }
}